* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;
}

:root {
    --heading-font: "Source Sans Pro", sans-serif;
}

body {
    position: relative;
    width: auto;
    height: auto;
    background-color: #fbfbf2;
    font-family: var(--heading-font);
}

/* Navbar */

.navbar-expand-md {
    position: relative;
    background-color: #fbfbf2 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 4px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 1px -1px;
    z-index: 2;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 600;
}

.nav-link {
    font-size: 16px;
    margin-right: 40px;
}

/* Navbar End */

/* Hero */

#hero {
    width: auto;
    height: 250px;
    background-image: linear-gradient(to right, #5c73b9, #b330e1);
}

.hero-heading {
    padding: 65px;
}

.hero-heading h1 {
    text-align: center;
    padding: 30px;
    font-size: 44px;
    font-weight: 600;
    color: #fbfbf2;
}

#image-1 {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 200px;
    height: 200px;
    z-index: 1;
}

#image-2 {
    position: absolute;
    top: 65px;
    left: 100px;
    width: 200px;
    height: 200px;
}

/* Hero End */
