* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --bg-color: #0f0e17;
  --heading-color: #fffffe;
  --paragraph-color: #a7a9be;
  --button-color: #ff8906;
  --button-text: #fffffe;
  --stroke-color: black;
  --secondary-color: #f25f4c;
  --tertiary-color: #e53170;
  --heading-font: "Karla", sans-serif;
  --paragraph-font: "Inconsolata", monospace;
}

body {
  position: relative;
  width: auto;
  height: auto;
  font-family: var(--heading-font) !important;
  background-color: var(--bg-color) !important;
  color: var(--heading-color) !important;
}

/* Navbar */

.navbar {
  position: fixed;
  padding: 20px !important;
}

.navbar-brand {
  color: var(--heading-color) !important;
}

.nav-link {
  position: relative;
  text-align: center;
  font-size: 16px !important;
  margin: 0 20px 0 20px;
  color: var(--heading-color) !important;
}

.nav-link:hover {
  color: var(--button-color) !important;
  transition: 0.6s;
}

.active {
  color: var(--button-color) !important;
}

.dropdown-item:hover {
  background-color: #f25f4c2a !important;
}

.social-media a {
  margin: 0 10px 0 10px;
  font-size: 24px;
  text-decoration: none;
  color: var(--heading-color);
}

.social-media a:hover {
  color: var(--secondary-color);
  transition: 0.6s;
}

.change {
  transition: 0.5s;
  background: rgba(242, 95, 76, 0.3137254901960784);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(242, 95, 76, 0.24);
}
